[Unit]
Description=Astro Pi Camera

[Service]
User=root
WorkingDirectory=/root/astro_camera/
ExecStart=/usr/bin/python3 /root/astro_camera/main
Restart=always

[Install]
WantedBy=multi-user.target