[Unit]
Description=Astro Pi Camera

[Service]
User=root
WorkingDirectory=/home/pi/astro_camera/
ExecStart=/usr/bin/python3 /home/pi/astro_camera/main
Restart=always

[Install]
WantedBy=multi-user.target